<!DOCTYPE html>
<html>
  <head>
    <script data-main="../server.js" src="../node_modules/requirejs/require.js"></script>
  </head>
  <body>
    <h1>Convert JSON Data to CSV Report</h1>
    <!-- <form action="http://localhost:5500/submit-form" enctype="multipart/form-data" method="POST" > -->
    <form>
      <label for="text">Enter JSON data here:</label>
      <input type="file" name="uploaded-file">
      <input class="button" type="submit" value="Convert">
    </form>

    <div class="results">Here is your CSV Report:
        <span>
          <% lines.forEach(function(line) { %>
            <div>
                <%= line %>
            </div>
          <% }); %>
        </span>
    </div>
    <script src=""></script>
    <script src="app.js"></script>
    <script src="../server.js"></script>
  </body>
</html>
